<html>

<head>
    <title>Todo List</title>
        <script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous">
        </script>

        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

</head>

<body>

    <h1>My Todo List</h1>


    <div id="todo-table">
        <script src="/assets/todo-list.js"></script>
        <form name="myForm" id="signupForm">
            <input type="text" name="username" placeholder="Enter Username..." required="true"/>
                <input type="text" name="email" placeholder="Enter Email..." required="true"/>
            <input type="text" name="password" placeholder="Enter Password..." required="true"/>
             <button type="submit">Sign up</button>
        </form>
        <button onclick="location.href = '/views/loginpage';">Login</button>
        <ul>
            <% for (var i=0;i<abc.length;i++){%>
                <li><%= abc[i].username %></li>
                    <li><%= abc[i].email %></li>
                <li><%= abc[i].password %></li>

            <% } %>
        </ul>
    </div>

</body>



</html>
